* {
    font-family: "Montserat";
}

body {
    background-color: #f6f6f6 !important;
}

/* === LOADING ==== */
#loading {
    position: fixed;
    top: 50%;
    margin: auto;
    /* left: 50%; */
    /* background-color: #000; */
    align-items: center;
    text-align: center;
    border-radius: 5px;
    z-index: 2000;
}

#loading span {
    color: #fff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold !important;
}

p {
    font-size: 20px;
    color: #000;
}

.text-dark {
    color: #000;
}

.text-red {
    color: #cc3301;
}

.bg-dark {
    background-color: #000;
    color: #fff;
}

.bg-dark:hover {
    color: #cc3301;
}

.bg-red {
    background-color: #cc3301;
    color: #fff;
}

.bg-red:hover {
    color: #fff;
}

.btn {
    margin: 3px;
}

#login-page {
    padding-block: 140px;
}

.main {
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(204, 51, 1, 255));
    background-repeat: repeat;
    background-size: 100% !important;
}

.table-responsive-list {
    /* height: 300px !important;
    overflow-y: auto !important; */
    padding: 0px 5px;
    border-radius: 10px;
}

.table-responsive-list thead th {
    position: sticky;
    top: 0;
    background-color: #000 !important;
    color: #fff !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.bg_dark {
    background-color: #000 !important;
    color: #fff !important;
}

thead {
    background-color: #000 !important;
    color: #fff !important;
}

.pagination {
    display: none;
}

.card {
    margin-bottom: 5px;
    border: 5px solid #f6f6f6
}

.card a {
    background-color: rgba(0, 0, 0, .175) !important;
    color: #000 !important;
}

.card a:hover {
    color: #fff !important;
}

button {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important
}

tr {
    font-size: 18px !important;
}

#sidebar_mobile,
#sidebar {
    overflow-y: scroll !important;
}

#sidebar_mobile li {
    font-size: 8px !important;
}

#close-moblie-sidebar {
    margin-top: 55px;
}